<div class="container" *ngIf="proy">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre del proyecto</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="proy.nombre" required>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="proy.descripcion" required>
                </div>
                <div class="form-group">
                    <label for="img">Imagen</label>
                    <input type="text" class="form-control" id="img" name="img" [(ngModel)]="proy.img" required>
                </div>
                                <button type="submit" class="btn btn-primary">Actualizar proyecto</button>
            </form>
        </div>
    </div>
</div>

