<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre del proyecto</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="descripcion" required>
                </div>
                <div class="form-group">
                    <label for="img">Imagen</label>
                    <input type="text" class="form-control" id="img" name="img" [(ngModel)]="img" required>
                </div>
                <div class="form-group">
                    <label for="link1">Link GitHub</label>
                    <input type="text" class="form-control" id="link1" name="link1" [(ngModel)]="link1" required>
                </div>
                <div class="form-group">
                    <label for="link2">Link sitio web</label>
                    <input type="text" class="form-control" id="link2" name="link2" [(ngModel)]="link2" required>
                </div>
                                <button type="submit" class="btn btn-primary">Agregar proyecto</button>
            </form>
        </div>
    </div>
</div>

