<div class="container" *ngIf="edu">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreEd">Nombre de la institución</label>
                    <input type="text" class="form-control" id="nombreEd" name="nombreEd" [(ngModel)]="edu.nombreEd" required>
                </div>
                <div class="form-group">
                    <label for="descripcionEd">Descripción del título</label>
                    <input type="text" class="form-control" id="descripcionEd" name="descripcionEd" [(ngModel)]="edu.descripcionEd" required>
                </div>
                <div class="form-group">
                    <label for="fechaIEd">Fecha de inicio</label>
                    <input type="text" class="form-control" id="fechaIEd" name="fechaIEd" [(ngModel)]="edu.fechaIEd" required>
                </div>
                <div class="form-group">
                    <label for="fechaFEd">Fecha de finalización</label>
                    <input type="text" class="form-control" id="fechaFEd" name="fechaFEd" [(ngModel)]="edu.fechaFEd" required>
                </div>
                <button type="submit" class="btn btn-primary">Actualizar educación</button>
            </form>
        </div>
    </div>
</div>

