<h2 class="seccion-titulo">Educación</h2>
            <ul>
                <li>
                    <p class="institucion">Escuela Normal Superior “José Manuel Estrada” ISFD N°163, Necochea</p>
                    <p class="titulo">Profesorado de tercer ciclo de la EGB y de la Educación Polimodal en Matemática</p>
                    <p class="fecha">MARZO DEL 2008 - AGOSTO DEL 2016</p>
                    
                </li>
                <li>
                    <p class="institucion">E.E.T. Nº 2 “General Mariano Necochea”, Necochea</p>
                    <p class="titulo">Título de bachiller. Modalidad producción de bienes y servicios.</p>
                    <p class="fecha">MARZO DEL 2003 - DICIEMBRE DEL 2005</p>
                </li>       
                <li>
                    <p class="institucion">E.E.T. Nº 2 “General Mariano Necochea”, Necochea</p>
                    <p class="titulo">Técnico en equipos e instalaciones electromecánicas.
                    </p>
                    <p class="fecha">MARZO DEL 2003 - DICIEMBRE DEL 2005</p>
                </li>               
            </ul>
