<div class="row">
    <h2 class="seccion-titulo">Educacion</h2>
    <div class="col-lg-2">
        <button type="button" class="btn btn-secondary" routerLink="/nuevaedu" *ngIf="isLogged">
            Agregar educación
        </button>
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td><h3>{{Educacion.nombreEd}}</h3></td>
                    <td><p>{{Educacion.descripcionEd}}</p></td>
                    <td><p>{{Educacion.fechaIEd}} - {{Educacion.fechaFEd}}</p></td>
                    <td *ngIf="isLogged"><a href="/editaredu/{{Educacion.id}}"><img src="../../../assets/img/pencil.svg" title="Editar"></a></td>
                    <td *ngIf="isLogged"><img src="../../../assets/img/trash.svg" title="Eliminar" (click)="delete(Educacion.id)"></td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>