<div class="row">
    <h2 class="seccion-titulo">Experiencia</h2>
    <div class="col-lg-2">
        <button type="button" class="btn btn-secondary" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva experiencia
        </button>
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of experiencia">
                    <td><h3>{{Experiencia.nombreE}}</h3></td>
                    <td><p>{{Experiencia.descripcionE}}</p></td>
                    <td><p>{{Experiencia.fechaIE}} - {{Experiencia.fechaFE}}</p></td>
                    <td *ngIf="isLogged"><a href="/editarexp/{{Experiencia.id}}"><img src="../../../assets/img/pencil.svg" title="Editar"></a></td>
                    <td *ngIf="isLogged"><img src="../../../assets/img/trash.svg" title="Eliminar" (click)="delete(Experiencia.id)"></td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>