    <div class="social">
        <div><img src="../../../assets/img/chevron-compact-left.svg"></div>
        <div><a href="https://github.com/mateoymichis" target="_blank"><img src="../../../assets/img/github.svg"
                    alt="GitHub" title="GitHub"></a></div>
        <div><a href="https://www.linkedin.com/in/emanuelmateofernandez/" target="_blank"><img
                    src="../../../assets/img/linkedin.svg" alt="LindedIn" title="LindedIn"></a></div>
        <div><a href="https://instagram.com/mateoymichis" target="_blank"><img src="../../../assets/img/instagram.svg"
                    alt="Instagram" title="Instagram"></a></div>
        <div><a href="mailto:mateo.rost@gmail.com"><img src="../../../assets/img/envelope.svg" alt="E-mail"
                    title="E-mail"></a></div>
        <div><img src="../../../assets/img/chevron-compact-right.svg"></div>
        <div><a href="/login"><img src="../../../assets/img/door-open.svg" alt="Log In" title="Iniciar sesión"
                    *ngIf="!isLogged"></a>
        <div><a href="#"><img src="../../../assets/img/door-closed.svg" alt="Log Out" title="Cerrar sesión"
                        (click)="onLogOut()" *ngIf="isLogged"></a>
        </div>
    </div>
    </div>
    