<h2 class="seccion-titulo">Hard skills & soft skills</h2>
<button type="button" class="btn btn-secondary" routerLink="/nuevaskill" *ngIf="isLogged">
    Agregar skill
</button>
            
<div *ngFor="let Skill of skill">
    <h3 class="skills-titulo">{{Skill.nombre}}</h3>
    <img src={{Skill.img}} alt="">
    <div class="skills-container">
        <div class="skills" [style.width.%]="Skill.porcentaje"></div>
    </div>
    <div *ngIf="isLogged"><a href="/editarskill/{{Skill.id}}"><img src="../../../assets/img/pencil.svg" title="Editar"></a></div>
    <div *ngIf="isLogged"><img src="../../../assets/img/trash.svg" title="Eliminar" (click)="delete(Skill.id)"></div>
</div>
            