<h2 class="seccion-titulo">Hard skills & soft skills</h2>
            
            <h3 class="skills-titulo">HTML</h3>
            <div class="skills-container">
                <div class="skills html"></div>
            </div>

            <h3 class="skills-titulo">CSS</h3>
            <div class="skills-container">
                <div class="skills css"></div>
            </div>

            <h3 class="skills-titulo">JavaScript</h3>
            <div class="skills-container">
                <div class="skills javascript"></div>
            </div>

            <h3 class="skills-titulo">Angular</h3>
            <div class="skills-container">
                <div class="skills angular"></div>
            </div>

            <h3 class="skills-titulo">Java</h3>
                <div class="skills-container">
            <div class="skills java"></div>
            
            </div>
