.skill {
    margin-bottom: 1rem;
}

.skill-contenedor {
    display: flex;
    justify-content: space-between;
}
.skills-barra {
    width: 75%;
    height: 30px;
    background-color: #ddd;
    margin-bottom: 1rem;
}

.skills-porcentaje {
    text-align: right; 
    height: 30px;
    background-color:var(--color-skills); 
}

.skills-img {
    width: 40px;
}

h3 {
    font-size: 1.4rem;
}